.contact-widget {
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
  height: 500px;
  margin: 1em;
  background: white;
  text-align: center;
  border-radius: 4px;
}

@media screen and (max-width: 576px) {
  .contact-widget {
    margin: 0 0 20px 0;
  }
}

.contact-widget.twitter {
  overflow-y: scroll;
}

.contact-widget.facebook {
  overflow-x: scroll;
}
