body {
  margin: 0;
  background-color: #223442;
  font-family: 'Pridi', serif;
}

/* Typography */
h1,
h2,
h3,
h4 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h1 {
  font-size: 54px;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 40px;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 32px;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.button {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 22px;
  letter-spacing: 0.04em;
  border-radius: 25px;
  padding: 0.3em 1em;
  color: #fff;
  background: #e1a34e;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
}

.flex-wrapper {
  display: flex;
}

.left-side,
.right-side {
  width: 50%;
}

.text-center {
  text-align: center;
}

.row {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

#copyright {
  padding: 2em;
}
