body {
  margin: 0;
  background-color: #37417a;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  font-family: 'Pridi', serif, Tahoma;
  color: white;
  font-size: 20px;
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4 {
  letter-spacing: 0.02em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h1 {
  font-size: 54px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 32px;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
}

a,
button {
  cursor: pointer;
}

.button {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 22px;
  letter-spacing: 0.04em;
  border-radius: 25px;
  padding: 0.3em 1em;
  color: #fff;
  background: #e1a34e;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-side,
.right-side {
  width: 50%;
}

.text-center {
  text-align: center;
}

.row {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

#copyright {
  padding: 1.5em 0;
}

.display-inline-block {
  display: inline-block;
}

/* spacing */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.section-title {
  background-size: cover;
  background-image: url('/assets/images/paper_board.png');
  width: 500px;
  height: 150px;
  text-align: center;
  padding-top: 104px;
}

/* style on mobile size */
@media screen and (max-width: 576px) {
  .mobile-fullwidth {
    flex: 0 0 100%;
    width: 100%;
  }

  .mobile-hide {
    display: none !important;
  }

  .section-title {
    width: 310px;
    height: 100px;
    padding-top: 57px;
  }

  .mx-mobile-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .justify-content-mobile-start {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 800px) {
  .tablet-fullwidth {
    flex: 0 0 100%;
    width: 100%;
  }

  .mx-tablet-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

/* style on tablet or bigger */
@media screen and (min-width: 576px) {
  .tablet-hide {
    display: none;
  }
}

.image-fluid {
  width: 100%;
}

.full-height {
  height: 100%;
}

#about, #major, #timeline, #faq {
  padding-top: 3rem;
}

.logo {
  width: 260px;
}