#intro {
  color: #fff;
  padding-top: 4em;
}

#main-sponsors {
  margin-top: 6em;
  text-align: center;
}

#main-button {
  color: #fff;
  background: #e1a34e;
}

.break {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 730px) {
  .break {
    display: inline;
  }
}

@media screen and (min-width: 375px) and (max-width: 456px) {
  .slogan {
    font-size: 42px;
  }
}