.modal-container {
  display: none;
}

.modal-container.show {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-body {
  width: 793px;
  margin: 2.5rem auto 0;
  height: 490px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-body-inside {
  padding: 5rem 6rem;
  position: relative;
  height: 50%;
}

.modal-content {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
}

.modal-body-inside .back-button {
  border-radius: 25px;
  padding: 10px 1rem;
  background: transparent;
  font-size: 1rem;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  transition: all 0.3s ease;
}

.modal-body-inside .back-button:hover {
  color: white;
  
}

.modal-body.content {
  background-image: url('/assets/images/modal-horizon-content.png');
}

.modal-body.design {
  background-image: url('/assets/images/modal-horizon-design.png');
}

.modal-body.marketing {
  background-image: url('/assets/images/modal-horizon-marketing.png');
}

.modal-body.programming {
  background-image: url('/assets/images/modal-horizon-programming.png');
}


.modal-body.content .back-button {
  border: 1px solid #C59316;
  color: #C59316;
}

.modal-body.content .back-button:hover {
  background: #C59316;
  color: #fff;
}

.modal-body.design .back-button {
  border: 1px solid #DD6A9B;
  color: #DD6A9B;
}

.modal-body.content .back-button:focus, .modal-body.content .back-button:hover {
  box-shadow: 0 0 10px #BF8D10;
}

.modal-body.design .back-button:focus, .modal-body.design .back-button:hover {
  box-shadow: 0 0 10px #D56394;
}

.modal-body.marketing .back-button:focus, .modal-body.marketing .back-button:hover {
  box-shadow: 0 0 10px #73A34D;
}

.modal-body.programming .back-button:focus, .modal-body.marketing .back-button:hover {
  box-shadow: 0 0 10px #4BABB9;
}


@media screen and (max-width: 578px) {
  .modal-body {
    width: 300px;
    height: 500px;
    background-size: cover;
  }

  .modal-body.content {
    background-image: url('/assets/images/modal-vertical-content.png');
  }
  
  .modal-body.design {
    background-image: url('/assets/images/modal-vertical-design.png');
  }
  
  .modal-body.marketing {
    background-image: url('/assets/images/modal-vertical-marketing.png');
  }
  
  .modal-body.programming {
    background-image: url('/assets/images/modal-vertical-programming.png');
  }

  .modal-body-inside {
    padding: 3.5rem 2.7rem;
    position: relative;
    height: 60%;
  }

  .modal-body-inside .back-button {
    bottom: -30px;
  }
}