.question-list {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  background-color: #E0E0E0;
}

li.question-item {
  border-bottom: 1px solid #F2F2F2;
  color: #52ABB7;
}

li.question-item:last-child {
  border-bottom: none;
}

.question-item > .question-text {
  padding: 20px;
  background-color: #302D2D;
  display: block;
  width: 100%;
  text-align: left;
  color: inherit;
  font-size: inherit;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.collapsible {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.collapse-answer {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #0B667E;
  font-weight: 300;
}


/* angle icon that can vertical flip */
.angle-down {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: #52ABB7;
  vertical-align: middle;
  margin-right: 10px;
}

.angle-down.active {
  transform: rotate(180deg);
  background-color: #0B667E;
}

.angle-down:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 3px;
  transform: rotate(45deg);
  border-radius: 16px;
  background: white;
  position: absolute;
  top: 20px;
  left: 10px;
}

.angle-down:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 3px;
  transform: rotate(-45deg);
  position: absolute;
  border-radius: 16px;
  background: white;
  top: 20px;
  right: 10px;
}

.font-pridi {
  font-family: 'Pridi', serif, Tahoma;
}