.sponsor-list {
  list-style: none;
  padding: 0;
}

.sponsor-list > li {
  display: inline-block;
}

.sponsor-item {
  margin: 5px 15px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.sponsor-item-vip {
  margin: 5px 15px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.sponsor-item > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sponsor-item-vip > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sponsor-card {
  width: 100%;
  background: white;
  border: 10px solid #ffbc5f;
  min-height: 600px;
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.media-partner-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.media-partner-title {
  color: #444;
}

.media-partner-item {
  box-sizing: border-box;
  width: 20%;
  padding: 0 4px;
  max-width: 100px;
}

.media-partner-item > img {
  width: 100%;
  height: auto;
}

.sponsor-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: stretch;
  align-items: flex-start;
  margin: 8px 0;
}
.sponsor-seperator {
  width: 100%;
  border-color: rgba(0, 0, 0, 0.06);
}

.level5 > a > img {
  max-width: 100%;
  height: 130px;
  width: auto;
  display: block;
}

.level4 > a > img {
  max-width: 100%;
  height: 110px;
  width: auto;
  display: block;
}
.level3 > a > img {
  max-width: 100%;
  height: 90px;
  width: auto;
  display: block;
}
.level2 > a > img {
  max-width: 100%;
  height: 90px;
  width: auto;
  display: block;
}
.level1 > a > img {
  max-width: 100%;
  height: 70px;
  width: auto;
  display: block;
}

@media screen and (max-width: 1080px) {
  .sponsor-item-vip {
    width: 120px;
    height: 120px;
  }
  .level5 > a > img {
    height: 120px;
    width: auto;
    display: block;
  }

  .level4 > a > img {
    height: 100px;
    width: auto;
    display: block;
  }
  .level3 > a > img {
    height: 80px;
    width: auto;
    display: block;
  }
  .level2 > a > img {
    height: 80px;
    width: auto;
    display: block;
  }
  .level1 > a > img {
    height: 60px;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .sponsor-item-vip {
    width: 120px;
    height: 120px;
  }
  .level5 > a > img {
    height: 110px;
    width: auto;
    display: block;
  }

  .level4 > a > img {
    height: 90px;
    width: auto;
    display: block;
  }
  .level3 > a > img {
    height: 70px;
    width: auto;
    display: block;
  }
  .level2 > a > img {
    height: 70px;
    width: auto;
    display: block;
  }
  .level1 > a > img {
    height: 60px;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .level5 > a > img {
    height: 100px;
    width: auto;
    display: block;
  }

  .level4 > a > img {
    height: 80px;
    width: auto;
    display: block;
  }
  .level3 > a > img {
    height: 60px;
    width: auto;
    display: block;
  }
  .level2 > a > img {
    height: 60px;
    width: auto;
    display: block;
  }
  .level1 > a > img {
    height: 50px;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .sponsor-item-vip {
    width: 120px;
    height: 120px;
  }
  .level5 > a > img {
    height: 90px;
    width: auto;
    display: block;
  }

  .level4 > a > img {
    height: 70px;
    width: auto;
    display: block;
  }
  .level3 > a > img {
    height: 50px;
    width: auto;
    display: block;
  }
  .level2 > a > img {
    height: 50px;
    width: auto;
    display: block;
  }
  .level1 > a > img {
    height: 40px;
    width: auto;
    display: block;
  }
}

.media-partner {
  height: 35px;
  width: auto;
  display: block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.super-vip a {
  flex: 0 0 26%;
  margin: 2%;
  display: flex;
  align-items: center;
  max-width: 200px;
}

.vip a {
  flex: 0 0 20%;
  margin: 2%;
  display: flex;
  align-items: center;
  max-width: 170px;
  justify-content: center;
}

.platinum a {
  flex: 0 0 25%;
  margin: 2%;
  display: flex;
  align-items: center;
  max-width: 140px;
}

.gold a {
  flex: 0 0 23%;
  margin: 2%;
  display: flex;
  align-items: center;
  max-width: 260px;
}

.silver a {
  flex: 0 0 20%;
  margin: 2%;
  display: flex;
  align-items: center;
  max-width: 180px;
}

.image-fluid-inside img {
  width: 100%;
}

.base-playhouse {
  max-height: 110px;
  width: auto !important;
}

@media screen and (max-width: 578px) {
  .base-playhouse {
    max-height: 60px;
  }
  .iurban{
    top: -6px !important;
  }
}
@media screen and (min-width: 579px) and (max-width:770px) {
  .iurban{
    top: -4px !important;
  }
}
@media screen and (min-width: 771px) {
  .iurban{
    top: -3px !important;
  }
}
@media screen and (max-width: 400px) {
  .base-playhouse {
    max-height: 60px;
  }
  .iurban{
    top: -7px !important;
  }
}

.iurban {
  flex: 0 0 12% !important;
  position: relative;
    top: -5px ;
  
  
}