.sponsor-list {
  list-style: none;
  padding: 0;
}

.sponsor-list > li {
  display: inline-block;
}

.sponsor-item {
  margin: 5px 15px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: inline-block;
}

.sponsor-item > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sponsor-card {
  width: 100%;
  background: rgba(225, 163, 78, 0.7);
  border: 10px solid #FFBC5F;
  min-height: 600px;
  padding-top: 20px;
  box-sizing: border-box;
}