.sponsor-list {
  list-style: none;
  padding: 0;
}

.sponsor-list > li {
  display: inline-block;
}

.sponsor-item {
  margin: 5px 15px;
  border-radius: 50%;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  display: inline-block;
}

.sponsor-item > img {
  width: 100%;
  height: 100%;
}