.timeline-item {
  width: 180px;
  margin: 0 50px;
}

@media screen and (max-width: 576px) {
  .timeline-item {
    flex: 0 0 40%;
    width: 40%;
    margin: 0;
  }
}

.timeline-icon {
  filter: grayscale(0.7);
}

.timeline-icon.active {
  filter: grayscale(0);
}