.timeline-item {
  width: 180px;
  position: relative;
  font-size: 1.2em;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px #fff;
  }

  40% {
    box-shadow: 0 0 70px #fff;

  }

  100% {
    box-shadow: 0 0 10px #fff;
  }
}

.blink.active {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 112px;
  height: 110px;
  border-radius: 50%;
  animation: blink 7s ease 0s infinite;
  transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
  .timeline-item {
    width: 145px;
    font-size: 1em;
  }
  .blink.active {
    top: 25px;
    width: 88px;
    height: 90px;
  }
}

.timeline-icon {
  filter: grayscale(0.7);
}

.timeline-icon.active {
  filter: grayscale(0);
  position: relative;
}

@media screen and (min-width: 465px) and (max-width: 726px) {
  .timeline-item {
    width: 232.5px;
  }

  .blink.active {
    top: 44px;
    width: 135px;
    height: 135px;
  }
}

@media screen and (min-width: 727px) and (max-width: 749px) {
  .timeline-item {
    width: 300px;
  }

  .blink.active {
    top: 53px;
    width: 180px;
    height: 182px;
  }
}
